<footer id="footer" class=" height-10" style="background-color:#077fbc9a ;" >
    <div class="container" height="10%">
      <div class="row">
        <div class="col-md-6">
          <a href="#">Privacy Policy</a>
          <span>|</span>
          <a href="#">Disclaimer</a>
          <span>|</span>
          <a href="#">Sitemap</a>
        </div>
        <div class="col-md-6 social-media">
          <p>Follow us on</p>
          <a href="https://instagram.com/theapollohospitals">
            <img src="assets/Images/instagram.png" alt="Instagram" width="40">
          </a>
          <a href="https://www.youtube.com/user/apollohospitalsindia">
            <img src="assets/Images/twitter.png" alt="Twitter" width="40">
          </a>
          <a href="https://twitter.com/HospitalsApollo">
            <img src="assets/Images/youtube.png" alt="YouTube" width="40">
          </a>
          <a href="https://www.facebook.com/TheApolloHospitals">
            <img src="assets/Images/linkedin.png" alt="LinkedIn" width="40" height="40">
          </a>
          <a href="https://www.linkedin.com/company/apollo-hospitals">
            <img src="assets/Images/gmail.png" alt="Gmail" width="40">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>&copy; 2023 All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  